{
  "extends": ["react-app", "plugin:you-dont-need-lodash-underscore/compatible"],
  "rules": {
    "no-useless-escape": "off",
    "no-script-url": "off",
    "jsx-a11y/anchor-has-content": "off",
    "jsx-a11y/href-no-hash": "off",
    "no-unused-vars": "off",
    "no-template-curly-in-string": "off"
  }
}
